html
  head
    title Index
    block scripts
      script(src='/assets/libs/jquery/dist/jquery.min.js')
  body
    h1 Index Shortener Page
    each item in items
      p
        a(href=item.shortenUrlSite)= item.shortenUrlSite