html
  head
    title Index
    block scripts
      script(src='/assets/libs/jquery/dist/jquery.min.js')
  body
    h1 Please Provide The Password
    if message
      p= message
    form(method="post")
      input(type="password", name="password")
      button(type="submit") Visit